<!DOCTYPE html>
<html>
    <head>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    </head>
    <body>
        <h1>Contacts</h1>
        <div style="display:flex;flex-wrap:wrap;">
            <div class="card rounded" style="width: 18rem;margin:.5em;">
                <div class="card-body">
                    <h5 class="card-title">Ben Livermore</h5>
                    <p class="card-text">Ben is a software developer.</p>
                    <address>
                        Boston, MA
                    </address>
                </div>
            </div>
            <div class="card rounded" style="width: 18rem;margin:.5em;">
                <div class="card-body">
                    <h5 class="card-title">Andrew Ott</h5>
                    <p class="card-text">Andrew is a bootcamp instructor.</p>
                    <address>
                        Somerville, MA
                    </address>
                </div>
            </div>
            <div class="card rounded" style="width: 18rem;margin:.5em;">
                <div class="card-body">
                    <h5 class="card-title">Kyrie Iriving</h5>
                    <p class="card-text">Kyrie is a professional basketball player.</p>
                    <address>
                        Boston, MA
                    </address>
                </div>
            </div>
        </div>
    </body>
</html>